<configuration>
<system.serviceModel>
<extensions>
<behaviorExtensions>
        <add name="federatedServiceHostConfiguration" type="Microsoft.IdentityModel.Configuration.ConfigureServiceHostBehaviorExtensionElement, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<add name="ClaimsToSoapHeader" type="ClaimsToSoapHeader.ClaimsToSoapHeaderExtensionElement, ClaimsToSoapHeader, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2f6a68b6fdd7b69e" />
</behaviorExtensions>
</extensions>
</system.serviceModel>
</configuration>